* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(141, 140, 140);
  color: black;
}
/*vertical mobile*/
@media only screen and (max-width: 480px)
{
  .graphic-designer
  {
    padding-left: 15px;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }

 }
 /*orizzontal mobile*/
@media only screen and (min-width: 481px) and (max-width:800px)
{
  .graphic-designer
  {
    padding-left: 20px;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }


 }
 /*tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px)
{
  .graphic-designer
  {
    padding-left: 25px;
  }
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }


}
 /*desktop*/
@media only screen and (min-width:1024px)
{
  .graphic-designer
  {
    padding-left: 25px;
  }
  .graphic-designer .y
  {
   background-color: rgb(241, 241, 98);
  }
  .graphic-designer .g
  {
    background-color: rgb(86, 219, 86);
  }
  .graphic-designer .p
  {
    background-color: rgb(236, 90, 212);
  }



}
