* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(141, 140, 140);
  color: black;
}
/*vertical mobile*/
@media only screen and (max-width: 480px)
{
  .menu-index
  {
   padding: 30px 50px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
  header h1
  {
   text-align: center;
   font-size: 40px;
  }
  /* span .evi */
  span 
  {
   background-color: rgb(241, 241, 98);
  }
  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
 }
 /*orizzontal mobile*/
@media only screen and (min-width: 481px) and (max-width:800px)
{
  .menu-index
  {
   padding: 30px 50px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
  header h1
  {
   text-align: center;
   font-size: 40px;
  }
  /* span .evi */
  span 
  {
   background-color: rgb(241, 241, 98);
  }
  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
 }
 /*tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px)
{
  .menu-index
  {
   padding: 30px 50px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
  header h1
  {
   text-align: center;
   font-size: 40px;
  }
  /* span .evi */
  span 
  {
   background-color: rgb(241, 241, 98);
  }
  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
}
 /*desktop*/
@media only screen and (min-width:1024px)
{
 .menu-index
 {
  padding: 30px 50px;
 }
 .bott-avaind
 {
  padding: 50px 30px;
 }
 header h1
 {
  text-align: center;
  font-size: 40px;
 }
 /* span .evi */
 span 
 {
  background-color: rgb(241, 241, 98);
 }
 P 
 {
  padding: 15px 20px;
  font-size: 20px;
 }
 .pio 
 {margin-left: 30px;
  padding: 20px 20px;
  font-size: 20px;
 }
}
