* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(141, 140, 140);
  color: black;
}
/*vertical mobile*/
@media only screen and (max-width: 480px)
{
  .menu-index
  {
   padding: 30px 30px;
  }
  .box-comandi
  {
    padding-left: 20px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
   .index header h1
  {
   text-align: center;
   font-size: 40px;
  }
  .vsc1 h1
  {
    padding-top: 30px;
  }
  .vsc1  h4 
  {
    background-color: rgb(241, 241, 98);
  }
  .vsc1 p
  {
    background-color: rgb(86, 219, 86);
  }
  /* span .evi */
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }
  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
  .bott-avaind li
  {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3%;
    margin: 18px 10px;
  }
  .html1 li
  {margin-left: 30px;
   padding: 12px 20px;
   font-size: 20px;
  }

  
 }
 /*orizzontal mobile*/
@media only screen and (min-width: 481px) and (max-width:800px)
{
  .menu-index
  {
   padding: 30px 30px;
  }
  .box-comandi
  {
    padding-left: 20px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
   .index header h1
  {
   text-align: center;
   font-size: 40px;
  }
  .vsc1 h1
  {
    padding-top: 30px;
  }
  .vsc1  h4 
  {
    background-color: rgb(241, 241, 98);
  }
  .vsc1 p
  {
    background-color: rgb(86, 219, 86);
  }
  /* span .evi */
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }

  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
  .bott-avaind li
  {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3%;
    margin: 18px 10px;
  }
  .html1 li
  {margin-left: 30px;
   padding: 12px 20px;
   font-size: 20px;
  }

 }
 /*tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px)
{
  .menu-index
  {
   padding: 30px 30px;
  }
  .box-comandi
  {
    padding-left: 20px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
   .index header h1
  {
   text-align: center;
   font-size: 40px;
  }
  .vsc1 h1
  {
    padding-top: 30px;
  }
  .vsc1  h4 
  {
    background-color: rgb(241, 241, 98);
  }
  .vsc1 p
  {
    background-color: rgb(86, 219, 86);
  }
  /* span .evi */
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }

  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
  .bott-avaind li
  {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3%;
    margin: 18px 10px;
  }
  .html1 li
  {margin-left: 30px;
   padding: 12px 20px;
   font-size: 20px;
  }

}
 /*desktop*/
@media only screen and (min-width:1024px)
{
  .menu-index
  {
   padding: 30px 30px;
  }
  .box-comandi
  {
    padding-left: 20px;
  }
  .bott-avaind
  {
   padding: 50px 30px;
  }
   .index header h1
  {
   text-align: center;
   font-size: 40px;
  }
  .vsc1 h1
  {
    padding-top: 30px;
  }
  .vsc1  h4 
  {
    background-color: rgb(241, 241, 98);
  }
  .vsc1 p
  {
    background-color: rgb(86, 219, 86);
  }
  /* span .evi */
  .y
  {
   background-color: rgb(241, 241, 98);
  }
  .g
  {
    background-color: rgb(86, 219, 86);
  }
  .p
  {
    background-color: rgb(236, 90, 212);
  }

  P 
  {
   padding: 15px 20px;
   font-size: 20px;
  }
  .pio 
  {margin-left: 30px;
   padding: 20px 20px;
   font-size: 20px;
  }
  .bott-avaind li
  {
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 3%;
    margin: 18px 10px;
  }
  .html1 li
  {margin-left: 30px;
   padding: 12px 20px;
   font-size: 20px;
  }

}
